@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
}

:root {
  --primary-dark-blue: #081525;
  --primary-blue: #4473b7;
  --primary-white: #fffFFF;
}

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-white);
}

.services h1 {
  color: var(--primary-blue);
  text-transform: uppercase;
  font-weight: bold;
}

img {
  width: 5rem;
}