
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: #ddd;

  --fc-button-text-color: #4473B7;
  --fc-button-bg-color: #2C3E50;
  --fc-button-border-color: #4473B7;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}


body {
  font-family: "Roboto Condensed", san-serif !important;
  
}

.main { 
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}



.rightSide{
  height: 100%;
  width: 100%;
 
}

.dayList{
  display: flex;
  margin-right: 2.5%;
  height: 100%;
}

.medSection{
  margin-top: 5%; 
  display: flex;
  flex-direction: column;
}

.boxHedaer {
  display: flex;
  margin-left: 2.5%;
  justify-content: space-around;
  
} 

.boxHedaer h4 {
  color: #4473B7;
}

.JobList h5, .JobList {
  text-transform: capitalize;
}

.boxHedaer > .postJobBox,
.boxHedaer > .compeletJobBox,
.boxHedaer > .incomBox{
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  font-weight: bold;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.boxSection{
  display: flex;
  flex-direction: column;
  /* margin-top: -40%; */
  
}
.postJobBox,
.compeletJobBox,
.incomBox {

  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.JobList{
  text-align: left;
  justify-items: right;
  list-style-type: none;  
  font-weight: bold;
}

.JobList li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  list-style-type: none; 
}

.compeletJobBox {
 margin-bottom: 4rem;
}

@media screen and (max-width: 600px){
  .main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aboutMe{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .descption{
    display: flex;
    flex-direction: column;
  }
  #root > div.main > div.boxHedaer.container{
    display: flex;
    flex-direction: column;
  }
}



 #root > div.main > div > div.medSection > div > div{
     height: 5%;
 }



 #calender > div > div > div > div.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr{
   padding: 1%;
 }
 #calender > div > div > div{
  padding: 0;
  border: 1px solid lightgray;
  margin-bottom: 2.5%;
  height: 400px;
 }
