
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
  
}

.main { 
  display: flex;
  margin: 5%;
}

.leftSide {
    height: 100%;
    width: 35%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
  background-color: cadetblue;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.task{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.rightSide{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: burlywood;
}

.calender{
  width: 100%;
  margin: 2.5% 2.5%; 
  border: 1px solid black;
} 
.row{
  display: flex;
  margin: 2.5% 2.5%;

}
.todayTask {
  border: 1px solid black;
  margin: 2.5%;
}
.review {
  border: 1px solid black;
  margin: 2.5%;
}