.aboutMeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.aboutMeSection h1 {
  margin-top: 4rem;

}


.fullName {
  font-weight: bold;
  color: #4473b7;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}



.prof {
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.firstName {
  width: 50%;
}
