

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.avatr {
    height: 30%;
    width: 30%;   
}

.fullName {
    font-weight: bold;
    color: #4473B7
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}