#root > div:nth-child(2) > div > div > div > div > div{
height: 100%;
width: 100%;
background-color: #4473B7;
color:black
}

.aboutMeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.avatr {
    height: 30%;
    width: 30%;   
}

.fullName {
    font-weight: bold;
    color: #4473B7
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
}