* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    z-index: 1;
  }
  
  .ModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5%;
    width: 100%;
    line-height: 1.8;
    color: #4473B7;
    height: 100%;
  }
  
  p {
    margin-bottom: 1rem;
  }
  button {
    padding: 10px 24px;
    background: #4473B7;
    color: #fff;
    border: none;
  }

  .form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  
  .form input {
    width: 100px;
    margin: 5%;
  }
  
  .form textarea{
    width: 100%;
    height: 100%e;
  }
  
  .ModalWrapper {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    border-radius: 10px;
  }
  
  
  .Background{
     width: 100%;
    height: 100%;
    background: #4473B7;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

 