@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
}

:root {
  --primary-dark-blue: #081525;
  --primary-white: #fffFFF;
  --primary-blue: #4473b7;
}

.footer {
  background: var(--primary-dark-blue);
  color: var(--primary-white);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-white);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-blue);
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
}