@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
}

:root {
  --primary-dark-blue: #081525;
  --primary-blue: #4473b7;
  --primary-white: #fffFFF;
}
.header-wraper{
  position: relative;
  background: url(img/1.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/*Search*/
.form-control {
  width: 50% !important;
}

/*Typed text*/
.typed-text {
  font-size: 3rem;
  color: var(--primary-white);
  margin-top: 1rem;
  font-weight: bold;
}

/*Search*/
.main-info .btn  {
  background-color: var(--primary-blue) !important;
  color: var(--primary-white) !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  
}




@media (max-width: 768px) {
  .typed-text {
    font-size: 1.5rem;
  }
}