/*****Header Section*****/

.header-wraper{
  position: relative;
  background: url(img/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/*Search*/
.form-control {
  width: 50% !important;
}

/*Typed text*/
.typed-text {
  font-size: 3rem;
  color: var(--primary-white);
  margin-top: 1rem;
  font-weight: bold;
}