@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
}

:root {
  --primary-dark-blue: #081525;
  --primary-blue: #4473b7;
  --primary-white: #fffFFF;
  --primary-transparent-dark-blue: rgb(10, 28, 48)
  ;

  ;
}

.reviews {
  background-image: url(img/people.png);
  background-size: cover;
  background-color: var(--primary-dark-blue);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.reviews h1 {
  color: var(--primary-white);
  padding: 4rem 0;
  text-transform: uppercase;
  font-weight: bold;
}

.reviews-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-dark-blue); 
  opacity: 70%;
 
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-white);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-white);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}