@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed", san-serif !important;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 15rem;
}

.about-us {
  color: var(--primary-blue);
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1rem;
}


@media (max-width: 991px) {
  .about-us {
  text-align: center;
  padding-bottom: 2%;
 }
}